body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    height:30px;
    padding:10px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #4267B2;
    margin-bottom: 5px;
}

input[type=text]:focus{
    outline: 0px solid #4267B2;  
  }

.contains{
    display: flex;
}
button {
    background: #4267B2;
    color: white;
    padding: 7px 7px;
    margin-right: 1px;
    border-radius: 50px;
    border: 1px solid #4267B2;
    font-size: 10px;
}
#input-btn{
    margin-right: 5px;
}

#delete-btn {
    background: white;
    color: #4267B2;
    margin-left: auto;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #4267B2;
}


